*{
    padding: 10px;
}


.input{
    height:40px;
    width: 50%;
    border-radius: 3px;
    margin-right: 5px;
}

.d-flex{

    background-image: url('/images/banner_1.png');
    height: 277px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
    height: 200px;
}